.applicationpage .home-pic {
  width: 35%;
  color: white;
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: column;
  background-color: white;
  /* margin-bottom: 5rem; */
}
.applicationpage .back-btn {
  width: 15%;

  color: white;
}

.column1 {
  background-color: #01426a;
  height: 100vh;
}
.column1 button {
  background-color: rgba(250, 235, 215, 0.622);
  color: #01426a;
  font-weight: bold;
  margin-top: 2.5rem;
}
.column1 a.active > button {
  background: rgb(250, 235, 215);
}
.column1 a.active > button:hover {
  color: #01426a;
}
.column1 button:hover {
  background-color: #02304c;
  color: white;
}
.column1 button:active {
  color: white !important;
}
.column2 {
  overflow-y: scroll;
}
.mainpage {
  height: 100vh;
}
.user-column {
  font-size: 500%;
  font-weight: bold;
  color: #01426a;
  text-align: center;
}
.logo-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo-column img {
  width: 50%;
}

.user-column,
.logo-column {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
