.formdiv {
  /* border: 2px solid black; */
  margin: 1rem 5rem;
  background-color: rgb(224, 224, 224);
}
.formdiv h2 {
  font-weight: bold;
  padding-top: 1rem;
  text-align: center;
}
.form {
  font-weight: 600;
  padding: 2rem 5rem;
}
.form button {
  margin-top: 2rem;
  background-color: #01426a;
}
.form button:hover {
  background-color: #02304c;
}
.form button:active {
  color: white !important;
}
